@use '../../styles/utils';

.container {
  padding: 2rem;
  background-color: var(--surface-color);
  margin: 2rem 0;
  border-radius: utils.$border-radius;
  font-size: 1.5rem;
  color: var(--font-primary-color);
  display: flex;
  align-items: center;
}

.result {
  flex-grow: 1;
}

.button {
  @include utils.button;
  padding: 1rem;
}

.button__copied {
  background-color: var(--font-primary-color);
  color: var(--background-color);
}