.themeSwitcher {
  background-color: transparent;
  margin: 0;
  border: none;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-primary-color);
  cursor: pointer;
}

.icon {
  font-size: 2.5rem;
}

.themeText {
  margin: 0;
  margin-right: 2rem;
}
