@use '../../styles/utils';

.container {
  height: 100vh;
  min-height: 100vh;
  padding: 4.1rem 2.4rem;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--font-primary-color);

  @media (min-width: utils.$medium-width) {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 5rem;
  }

  @media (min-width: utils.$large-width) {
    padding: 10rem;
  }
}

.main {
  width: 100%;
  max-width: 73rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
}

.searchForm {
  margin-top: 2rem;
}