@use '../../styles/utils';

.container {
  width: 100%;
  height: 6rem;
  padding: 0.7rem;
  background-color: var(--surface-color);
  display: flex;
  align-items: center;
  border-radius: utils.$border-radius;
  position: relative;
  font-size: 1.5rem;
}

.form__error {
  border: 2px solid red;
}

.note {
  color: var(--font-secondary-color);
  line-height: 1.5;
  margin-bottom: 1rem;
}

.icon {
  color: var(--primary-color);
  font-size: 2rem;
  margin: 0 0.9rem;
}

.input {
  width: 100%;
  font-size: 1.4rem;
  height: 100%;
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--font-primary-color);
  margin: 0 1rem;
}

.input::placeholder {
  color: var(--font-secondary-color);
}

.error {
  color: var(--error-color);
  margin: 1rem;
  font-size: 1.4rem;
}

.clearButton {
  background-color: transparent;
  color: var(--font-primary-color);
  font-size: 3rem;
  margin: 0 1rem;
  cursor: pointer;
}

.button {
  @include utils.button;
  padding: 0 1.6rem;
  height: 100%;
}

.loader {
  position: absolute;
  right: 2.5rem;
}

@media (min-width: 600px) {
  .container {
    width: 100%;
    height: 6rem;
    padding: 1.1rem;
    background-color: var(--surface-color);
    display: flex;
    align-items: center;
    border-radius: utils.$border-radius;
  }

  .icon {
    color: var(--primary-color);
    font-size: 2rem;
    margin: 0 2.5rem;
  }
}