@use './reset';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --primary-color: #0079FE;
  --secondary-color: #006408;
  --font-primary-color: #EFF6FF;
  --font-secondary-color: #CCD6EF;
  --background-color: #141C2F;
  --surface-color: #1F2A48;
  --on-primary-color: #FFF,
}

html {
  font-size: 10px;
  font-family: 'Space Mono', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
